@media only screen and (max-width:600px){
    *{
        border: 1px solid red;
    }
    
    body{
        display: flex;
        flex-direction: column;
    }
}

body{
    margin: 0;
    padding: 0;
    background-color: white;
    color:color;
}

nav{
    background-color: rgb(70, 116, 51);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 20vh;
}

nav .logo{
    font-size: 2em;
    color:white;
    margin: 0;
}

nav .logo h1{
    margin: 0;
}

nav a{
    color:white;
    font-size: 2em;
    list-style: none;
    text-decoration: none;
    padding-right: 1em;
}

nav .nav-links{
    display: flex;
}

main{
    height: 100vh;
    background-color: gray;
}

main .img-container{
    background-image: url('../images/photo-nic-co-uk-nic-xOigCUcFdA8-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
    background-position: center;
    height: 50vh;
    color:white;
    text-shadow: 2px 2px #000000;
}

main section{
    position: absolute;
}
.form-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    
}

.cards-container{
    background-color: rgb(246, 150, 72);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}

.card{
    background-color: whitesmoke;
    height: 40vh;
    width: 20vw;
    border: 1px solid black;
    margin-right: 1em;
    padding-right: 1em; 
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 20vh;
    
}

footer a{
    color:white;
    text-decoration: none;
    list-style: none;
    padding-right: 1em;
    
}

@media only screen and (max-width:600px){
    
    body{
        display: flex;
        flex-direction: column;
    }
}

nav{
    height:20vh;
    background-color: blue;
    display: flex;
    justify-content: space-between;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    font-family: 'Poppins', sans-serif; 
}
h1{
    font-size: 5em;
    padding: 0;
    margin: 0;
    font-weight:
}
.first{
    font-size: 2em;
    padding:0;
    margin: 0;
}
li{
    list-style: none;
    font-size: 25px;
}
.second{
    font-size: 2em;
}
.third{
    font-size: 2em;
}