body{
    margin: 0;
    padding: 0;
    background-color: white;
    color:color;
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: rgb(70, 116, 51);
    height: 20vh;
}

.nav-button{
    display: none;
}

nav .nav-items{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

nav .logo{
    font-size: 2em;
    color:white;
    margin: 0;
}

nav .logo h1{
    margin: 0;
}

nav a{
    color:white;
    font-size: 2em;
    list-style: none;
    text-decoration: none;
    padding-right: 1em;
}

nav .nav-links{
    display: flex;
}

nav .mobile-nav-links{
    display: none;
}

main{
    height: 100vh;
    background-color: whitesmoke;
    overflow: scroll;
}

main .img-container{
    background-image: url('../images/photo-nic-co-uk-nic-xOigCUcFdA8-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
    background-position: center;
    height: 50vh;
    color:white;
    text-shadow: 2px 2px #000000;
}

main section{
    position: absolute;
}
.form-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    
}

input{
    height:5vh;
}

::placeholder {
    color: red;
    font-size: 1em;
  }

.cards-container{
    background-color: rgb(246, 150, 72);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}

.card{
    background-color: whitesmoke;
    height: 40vh;
    width: 20vw;
    border: 1px solid black;
    margin-right: 1em;
    padding-right: 1em; 
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 20vh;
    
}

footer a{
    color:white;
    text-decoration: none;
    list-style: none;
    padding-right: 1em;
    
}

@media only screen and (max-width:600px){
    body{
        display: flex;
        flex-direction: column;
    }

    nav{
        height:10vh;
        display: block;
        z-index: 1;
    }

    nav .nav-items{
        display: none;
    }

    .sidenav{
        height:100vh;
        position: absolute;
        width: 0;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        z-index: 1;
        color: white;
    }

    .sidenav .mobile-nav-links a{
        color: white;
        padding: 10em 3em;
        font-size: 2em;
    }

    nav .nav-button{
        display: block;
        z-index: 1;
        margin-left: 1em;
        margin-top: 1em;
    }

    .nav-button-line{
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
    }

    .nav-button:hover{
        cursor: pointer;
    }

    main{
        display: flex;
        flex-direction: column;
    }
}

